// Make menu font size is larger
.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 18px;
  font-weight: bold;
}

// Make page posts wider

.article-container {
  max-width: 60%;
  padding: 0 20px;
  margin: 0 auto;
}